<div class="tab-content">
  <form
    class="settings-form"
    [formGroup]="settingsFormGroup"
    (ngSubmit)="generate()"
    ngNativeValidate
  >
    <div class="form-settings-flex">
      <div>
        <div class="settings-col">
          <div class="settings-row">
            <h4>General settings</h4>
            <div class="options">
              <ng-container>
                <mat-label> # Credentials </mat-label>
                <mat-slider min="1" max="50" step="1" discrete>
                  <input matSliderThumb formControlName="numberOfCreds" />
                </mat-slider>
              </ng-container>
            </div>
          </div>

          <div class="settings-row" formGroupName="usernameSettings">
            <h4>Username settings</h4>
            <div class="options">
              <mat-slide-toggle formControlName="useHyphen">
                Use hyphen?
              </mat-slide-toggle>
              <mat-slide-toggle formControlName="useRandomNumber">
                Include numbers?
              </mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="settings-col">
          <div class="settings-row" formGroupName="passwordSettings">
            <h4>Password settings</h4>
            <div class="options">
              <ng-container>
                <mat-label> Length </mat-label>
                <mat-slider min="8" max="50" step="1" discrete>
                  <input matSliderThumb formControlName="length" />
                </mat-slider>
              </ng-container>
              <mat-slide-toggle formControlName="numbers">
                Include numbers?
              </mat-slide-toggle>
              <mat-slide-toggle formControlName="symbols">
                Include symbols?
              </mat-slide-toggle>
              <mat-slide-toggle formControlName="lowercase">
                Include lowercase?
              </mat-slide-toggle>
              <mat-slide-toggle formControlName="uppercase">
                Include uppercase?
              </mat-slide-toggle>
              <mat-slide-toggle formControlName="excludeSimilarCharacters">
                Exclude similar characters (like 'i' and 'l')?
              </mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="submit">
      <button mat-raised-button color="primary" type="submit">Generate</button>
    </div>
  </form>
  <table mat-table [dataSource]="credentials" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          [matTooltip]="
            isAllSelected()
              ? 'Unselect all credentials'
              : 'Select all credentials'
          "
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          [matTooltip]="
            selection.isSelected(row)
              ? 'Unselect credential'
              : 'Select credential'
          "
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th
        mat-header-cell
        *matHeaderCellDef
        aria-label="Copy selected usernames"
        matTooltip="Copy selected usernames"
        class="copy-this"
        (click)="copyCredentials(-1, 'username')"
      >
        Username
      </th>
      <td
        mat-cell
        *matCellDef="let element; let index = index;"
        class="copy-this"
        matTooltip="Copy username"
        (click)="$event.stopPropagation(); copyCredentials(index, 'username')"
      >
        {{ element.username }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="password">
      <th
        mat-header-cell
        *matHeaderCellDef
        aria-label="Copy selected passwords"
        matTooltip="Copy selected passwords"
        class="copy-this"
        (click)="copyCredentials(-1, 'password')"
      >
        Password
      </th>
      <td
        mat-cell
        *matCellDef="let element; let index = index;"
        class="copy-this"
        matTooltip="Copy password"
        (click)="$event.stopPropagation(); copyCredentials(index, 'password')"
      >
        {{ element.password }}
      </td>
    </ng-container>

    <ng-container matColumnDef="copy">
      <th mat-header-cell *matHeaderCellDef>
        <button
          mat-icon-button
          aria-label="Copy selected credentials"
          matTooltip="Copy selected credentials"
          (click)="copyCredentials(-1)"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let index = index;">
        <button
          mat-icon-button
          aria-label="Copy credential"
          matTooltip="Copy credential"
          (click)="$event.stopPropagation(); copyCredentials(index)"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="refresh">
      <th mat-header-cell *matHeaderCellDef>
        <button
          mat-icon-button
          aria-label="Refresh selected credentials"
          matTooltip="Refresh selected credentials"
          (click)="copyCredentials(-1)"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let index = index;">
        <button
          mat-icon-button
          aria-label="Copy credential"
          matTooltip="Copy credential"
          (click)="$event.stopPropagation(); copyCredentials(index)"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</div>
