.settings-form {
  margin-bottom: 2rem;

  .form-settings-flex {
    display: flex;
    flex-direction: row;
    place-content: space-around;

    .settings-row {
      margin-bottom: 2rem;
    }

    .settings-col {
      width: 100%;

      .options {
        text-align: left;

        mat-slide-toggle {
          margin: 1rem 0;
          display: block;
        }

        mat-error {
          position: initial;
        }
      }
    }
  }

  .submit {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

#credentials-table {
  th div {
    display: flex;
    place-items: center;
  }

  .copy-this {
    cursor: pointer;
  }
}
